/* ------------ GLOBAL LAYOUTS ------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f26c4f;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body > :first-child {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 600px;
}

main {
  margin-top: 40px;
  flex-grow: 1;
  overflow-y: scroll;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

/* ------------ TYPOGRAPHY ------------ */

a, button {
  cursor: pointer;
}

body, a, input, button, select {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, a {
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
}


/* ------------ FORM STYLING ------------ */

input, button, select {
  background-color: transparent;
  border: #fff solid 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.25em;
  margin-bottom: 15px;
  outline: none;
  text-align: center;
}

input, select {
  width: 100%;
}

input[type="date"] {
  padding-left: 70px;
}

/* TODO: style radio buttons */

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
}

button {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 900;
}

label {
  font-weight: 900;
  margin-bottom: 5px;
  display: block;
}

button:hover {
  background-color: #fff;
  color: #f26c4f;
}

.start-of-day input {
  margin-bottom: 0;
}

button.change-start-of-day {
  margin-left: 10px;
  margin-bottom: 0;
}

#task {
  text-align: left;
}


/* ------------ TABLE STYLING ------------ */

table {
  width: 100%;
  border-color: transparent;
  border-spacing: 0 10px;
  margin-bottom: 15px;
}

tr.new-task > td:last-child {
  padding-left: 10px;
}

tr.new-task > td:last-child > button {
  width: 100%;
}

tr.old-task {
  font-size: 1.25em;
  cursor: pointer;
}

tr.old-task td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

tr.old-task > td:first-child {
  border-radius: 10px 0 0 10px;
}

tr.old-task > td:last-child {
  border-radius: 0 10px 10px 0;
  text-align: right;
  padding-right: 20px;
}

.completed {
  text-decoration: line-through;
}


/* ------------ NAV STYLING ------------ */

nav {
  display: flex;
  justify-content: space-between;
}

nav > div {
  flex-grow: 1;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 60px;
  border: #f26c4f solid 1px;
}

nav i {
  color: #f26c4f;
}