<h1>All Tasks</h1>
<table>
  <tbody class="tasks">
    <!-- tasks loaded dynamically via jquery -->
  </tbody>
</table>

<script src="/static/js/taskManagement.js"></script>
<script src="/static/js/utils.js"></script>
<script>displayAllTasks()</script>