<p><%= err.message %></p>
<!-- <% if (typeof is_active === undefined) { let is_active = true } %> -->
<% if (typeof is_not_active === undefined) { %>
  <p>User hasn't confirmed their email address</p>
<% } %>
