<h1>Welcome to your ToDo list</h1>
<p>Tasks can be marked off by clicking on them but will stay in your list. In order to clear them from the list completely, click on the "Clear" button.</p>
<table>
  <thead>
    <tr>
      <th>Due Date</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody class="tasks">
    <tr class="new-task">
      <!-- This is going to be where people can insert new tasks -->
      <td><label for="due_date" class="hidden"></label><input type="date" id="due_date" name="due_date" required></td>
      <td><label for="task" class="hidden"></label><input type="text" id="task" name="task" required placeholder="What do you need to do?"></td>
      <td><a class="submit-task">Submit</a></td>
    </tr>
    <tr class="new-task-alert">
      <td class="alert" colspan="3">Invalid input</td>
    </tr>
    <!-- tasks loaded dynamically via jquery -->
    </tbody>
  </table>

  <script src="/static/js/addNewTask.js"></script>
  <script src="/static/js/displayTasks.js"></script>
  <script src="/static/js/utils.js"></script>